<div *ngIf="listCarInProgress as list;else loading">
<h2 style="font-size: 14px; font-weight: bold;"> Paint jobs in Progress</h2>
<table class="table table-bordered">
    <thead style="background-color: #dddddd; color: black;">
      <tr>
        <th>Plate No.</th>
        <th>Current Color</th>
        <th>Target Color</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody style="background-color: white;">
      <tr *ngFor="let car of list; let i = index;">
        <td>{{car.plateNo}}</td>
        <td>{{car.currentColor}}</td>
        <td>{{car.targetColor}}</td>
        <td>
            <span style="color:#ec6b5c; cursor: pointer;" (click)="markAsCompleted(car.carId,car,i)">Mark as Completed</span>
        </td>
      </tr>
    
    </tbody>
  </table>
  <div *ngIf="list.length < 1" class="alert alert-secondary" role="alert">
    No car found
  </div> 
</div>
<ng-template #loading>
    <div class="d-flex justify-content-center mt-4">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
  </ng-template>