<div class="card" style="width:fit-content; height:200px;">
    <div class="card-header" style="background-color: #ec6b5c;color: white;">SHOP PERFORMANCE</div>
    <div class="card-body" style="background-color: #edecec;">
        <div style="display: flex; align-items: center;">
            <h2 style="font-size: 14px;">Total Cars Painted:</h2>
            <h2 style="margin-left: 60px; font-size: 12px;">{{shopPerformance.totalCarsPainted}}</h2>
        </div>
        <h3 style="font-size: 13px; "> Breakdown:</h3>
        <div style="display: flex; align-items: center;">
            <h3 style="font-size: 12px;padding-left: 20px;"> Blue </h3>
            <h3 style="padding-left: 135px; font-size: 12px;">{{shopPerformance.blueCars}}</h3>
        </div>
        <div style="display: flex; align-items: center;">
            <h3 style="font-size: 12px;padding-left: 20px;"> Red </h3>
            <h3 style="padding-left: 140px; font-size: 12px;">{{shopPerformance.redCars}}</h3>
        </div>
        <div style="display: flex; align-items: center;">
            <h3 style="font-size: 12px;padding-left: 20px;"> Green </h3>
            <h3 style="padding-left: 130px; font-size: 12px;">{{shopPerformance.greenCars}}</h3>
        </div>
       </div>
</div>